.profile {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 70px 0px;
  background-color: #615041;
  height: 90vh;
}
.profile-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  overflow-wrap: break-word;
  flex-direction: column;
  font-size: large;
  gap: 30px;
}
.profile-txt {
  font-weight: bold;
  font-size: 34px;
  color: bisque;
}
.profile-img {
  padding: 10px;
}

@media screen and (max-width: 550px) {
  .profile {
    grid-template-columns: 100%;
  }
  .profile-txt {
    font-size: 25px;
  }
}
